#cards-div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#cards-div p {
    padding: 20px;
    border-radius: 15px;
}

#card-form label, input {
    display: block;
}

.hide {
    display: none;
}

.text-center {
    text-align: center;
}

.card-element {
    color: white;
    background: rgb(0, 92, 179);
}