body {
    background-color: #f0f0f0;
}

#main-div {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
}

#left-container {
    width: 65%;
    height: 100%;
}

#right-container {
    width: 35%;
    height: 100%;
}

#cards-div p {
    padding: 5px;
    border-radius: 8px;
    width: fit-content;
}

#card-form label,
input {
    display: block;
}

#right-container button {
    margin-top: 10px;
    margin-right: 10px;
}

#right-container textarea {
    width: 100%;
    padding: 8px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    resize: none;
}

.hide {
    display: none;
}

.text-center {
    text-align: center;
}

.card-element {
    color: white;
    background: #385170;
}

.card-element>button {
    margin-right: 0;
    margin-left: auto;
    display: block;
}