#chrome-ext-pf-card-div {
    top: 50%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    background-color: #385170 !important;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
    min-width: 40%;
}

#chrome-ext-pf-card-div p {
    padding: 75px 25px;
    color: #FFF8DC !important;
    font-size: 16px;
    font-weight: 400;
    overflow: auto;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#chrome-ext-pf-close-btn {
    background-color: #385170 !important;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    cursor: pointer;
    color: #FFF8DC !important;
    border: none;
}

#chrome-ext-pf-close-btn:hover {
    background-color: #FFF8DC !important;
    color: #5a83b6 !important;
}

#chrome-ext-pf-header {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 18px;
    color: #FFF8DC !important;
}

.chrome-ext-pf-show {
    display: block;
}

.chrome-ext-pf-hide {
    display: none;
}